*{
    padding:0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html{
    overflow: auto;
}
.fiex_nav{
    font-size:17px;
    color: #ea6f5a;
    line-height: 57px;
}
.index_box li{
    float:left;
}
.index_box a{
    color: #ea6f5a;
}
a:hover{
    text-decoration: none;
}
.index_box input{
    width: 160px;
    height: 38px;
    font-size: 13px;
    border: 1px solid #eee;
    border-radius: 40px;
    background: #eee;
    outline: none;
    padding: 0 40px 0 20px;
    color:#444;
    position:relative;
    transition: all 0.5s;
}
.index_box ul li:last-child{
    margin-left: 80px;
    position:relative;
}
.index_box ul li:last-child span{
    display: block;
    position:absolute;
    right:5px;top:0;bottom:0;margin: auto;
    width:30px;height:30px;border-radius: 30px;
    background: #969696;
    text-align: center;
    line-height: 30px;
    color:#fff;
}
.login_box div{
    display: block;
    width:100px!important;height:57px!important;
}
/*选项卡*/
.xue{
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
}
.xue li{
    float:left;
    width:50%;
    font-size: 18px;
    color:#969696;
}
.xue li:last-child{
    text-align: left;
    padding-left:20px;
}
.xue li:first-child{
    text-align: right;
    padding-right:20px;
}
.xue li.active{
    color:#E05244;
    font-weight: bold;
}
form.active1 {
    display: block;
}
.login_form,.reg_form{
    display: none;
}
.fiex_nav,.logined_fiex_nav{
    width:100%;
    height:58px;
    background:#fff;
    border-bottom:1px solid #F0F0F0;
    position:fixed;
    z-index: 500;
}
.fg{
    width:10px;
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    top:50px;
    margin: auto;
    font-size: 18px;
    color:#969696;
}




.fiex_nav > div,.logined_fiex_nav >div{
    float:left;
}
.logo_box{
    width:15%;
    height:100%;
}
.login_box{
    width:35%;
    height:100%;
}
.login_box a{
    display:block!important;
    float:right;
    width:100px;
    height:40px!important;
    line-height: 38px;
    text-align: center;
    margin:8px 20px 0 0;
    font-size:16px;
}
.write_artic_btn{
    background: #EA6F5A;
    color:#fff;
    border-radius: 5px;
}
.write_artic_btn:hover{
    color:#fff;
}
.reg_btn{
    border: 1px solid rgba(236,97,73,.7);
    color: #ea6f5a;
    border-radius: 5px;
    width:80px!important;
}
.reg_btn:hover{
    color: #ea6f5a;
}
.login_btn{
    width: 80px!important;
    color: #969696;
}
.index_box{
    width:50%;
    height:100%;
}
.login_box .change_style{
    margin-right: 0;
    width:40px;
    color: #969696;
    font-weight: bold;
}
/*登录框区域*/
.loginBox{
    width: 400px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    box-sizing: border-box;
    position:absolute;
    top:-800px;left:0;right:0;
    margin: auto;
    width:400px;
    height:400px;
    display: none;
    margin-top: 0;
    animation: slide 0.3s ease;
    z-index: 10001;

}
.login_form > div,.reg_form > div{
    width:300px;
    height:auto;
    position:relative;
    overflow: hidden;
}
.login_form > div input,.reg_form > div input{
    outline: none;
    width:300px;
    height:40px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    border-bottom:none;
    background: #F8F8F8;
    color:#969696;
    font-size:14px;
}
.login_form > .vcode input{
    width:230px;
    float:left;
    border-bottom: 1px solid #c8c8c8;
}
.reg_form > .comfirepass input{
    float:left;
    border-bottom: 1px solid #c8c8c8;
}
.login_form > .vcode img{
    display: block; width:70px;height:40px;float:right;border-radius:4px!important;
}
.login_form > .sub_login{
    margin-top: 20px;
}
.reg_form > .sub_reg{
    margin-top: 20px;
}
.login_form > .sub_login input{
    height:43px;
    background: #187CB7;
    font-size:18px;
    color:#fff;
    border-radius: 5px;
}
.reg_form > .sub_reg input{
    height:43px;
    background: #42C02E;
    font-size:18px;
    color:#fff;
    border-radius: 5px;
}
.login_form > .sub_login input:hover{
    background: #2471A2;
}
.reg_form > .sub_reg input:hover{
    background: #36B221;
}
.tip_message{
    height:0;
    width:300px;
    border-radius: 5px;
    border:0px solid #E05244;
    background: #fff;
    color:#E05244;
    position:absolute;
    top:130px;
    left:0;right:0;
    margin: auto;
    z-index: 200000;
    overflow: hidden;
    text-align: center;
    line-height: 40px;

}
.close_btn{
    position:absolute;
    top:7px;
    right:7px;
    color:#969696;
    font-size:25px;
    cursor: pointer;
    width:auto!important;
}
.close_btn:hover{
    color:#E05244;
}
@keyframes slide{
    0%{
        top:0px;
    }

    100%{
        top:150px;
    }
}
@keyframes tip{
    0%{
        height:0px;
    }
    20%{
        height:40px;
    }
    80%{
        height:40px;
    }
    100%{
        height:0px;
    }
}
laber{
    position:absolute!important;
    top: 10px!important;
    left: 10px!important;
    color:#969696;
}
/*遮罩*/
.zhezao{
    display:none;
    width:100%;
    height:100%;
    z-index: 10000;
    background: #F1F1F1;
    opacity: 1;
    position: absolute;
    top:0;left:0;
}
/*个人中心*/
.person_box{
    width:120px;
    height:auto;
    box-shadow: 0 0 5px #999;
    position:absolute;
    top:57px;right:50px;
}
.person_box li{
    width:100px;
    height:40px;

}
.person_box li a{
    display: block;
    width:100%;height:100%;
}
.person_box div{
    height:100%;
    float:left;
    text-align: center;
    line-height: 100%;
}
.person_box div:first-child{
    width:20px;
    color:#EA6F5A;
}
.person_box div:last-child{
    width:80px;
    color:#333333;
}